doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    title FSE Chat Room
  body
    h2 FSE Chat Room
    div
      div.inlineBlock
        form(action="/", method="post")
          div.input.center(style="margin-left:0px")
            span.label.success Name
            input(name="username", type="text") 

          div.center
            input(type="submit", value="login")